{% extends 'base.html' %}
{% load googlecharts %}
{% block content %}
{% if not error %}
<table>
    <thead>
        <tr>
            <th>
                UAH-USD
            </th>
            <td>Purchase</td>
            <td>Sale</td>
            <td>Official rate</td>
        </tr>
    </thead>
    {% for rate in main_rate_today %}
    <tbody>
        <tr>
            <td>
                <span>
                    <span>
                        {{ rate.uah_official }}
                    </span>
                </span>
            </td>
            <td>
                <span>
                    <span>
                        {{ rate.uah_purchase }}
                    </span>
                </span>
            </td>
            <td>
                <span>
                    <span>
                        {{ rate.uah_sale }}
                    </span>
                </span>
            </td>
            <td>
                <span>
                    <span>
                        {{ rate.date_of_rate }}
                    </span>
                </span>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% googlecharts %}
    {% for rate in main_rate %}
    {% data "Currency rate" %} 
        {% col 'number' "Official rate" %}{{ rate.uah_official }}{% endcol %} 
        {% col 'number' "Purchase rate" %}{{ rate.uah_purchase }}{% endcol %} 
        {% col 'number' "Sale rate" %}{{ rate.uah_sale }}{% endcol %} 
        {% col 'date' "Date" %}{{ rate.date_of_rate }}{% endcol %} 
    {% enddata %}
    {% endfor %}
{% endgooglecharts %}
{% else %}
<p>{{ error }}</p>
{% endif %}
{% endblock content %}